
.globalmap {
    height: 400px;
    position: relative;

    #map {
        height: 400px;
    }


    .mapsidebar {
        position: absolute;
        width: 80%;
        background: transparentize($dark_grey, 0.2);
        color: white;
        padding: 20px;
        top:0;
        left: 0;
        bottom: 0;
        height: 100%;
        overflow-y:scroll;
        display: none;

        @media (min-width: 768px) {
            width: 50%;
        }

        @media (min-width: 1024px) {
            width: 25%;
        }
    }


}




#markercontent {

}

ul.map_layers_nav {
    margin: 0;
    li {
        display: inline-block;
        cursor: pointer;
        margin:0 5px;
        text-transform: uppercase;
        padding: 10px;
        transition: all 0.3s;
        &:hover {
            background: $light_grey;
        }

        &.unselected_cat {
            opacity:0.48;
        }
    }
}



ul#location_list {
    margin: 30px 0 ;
    display: flex;
    flex-wrap: wrap;
    li {
        flex: 1 auto 0;
        width: 50%;
        max-width: 50%;
        list-style: none;
        position: relative;
        padding: 3px 0 20px 30px;
        cursor: pointer;

        @media (min-width: 768px) {
            width: 25%;
            max-width: 25%;
        }


        img {
            position: absolute;
            top:3px;
            left: 0;
            height: 23px;
            width: auto;
        }
    }
}
