
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'typography';
@import 'header';
@import 'footer';
@import 'carousel';

@media (min-width: 768px) { }
@media (min-width: 992px) { }
@media (min-width: 1200px) { }

body {
    background: $background_color;
    color: $brand_color;
    font-family: $font_stack;
    font-size: 62.5%;
    font-weight: normal;


}
iframe {background: #eee;}
@import 'sections';
@import 'home';
@import 'gallery';
@import 'cartes';


// CALENDAR STYLING
ul.simcal-events {
   display: block;
}
span.simcal-day-label.simcal-day-number {
        padding: 27% 0;
    min-height: 38px!important;
}

td.simcal-past.simcal-day .simcal-day-number {
    background: #ddd!important;
}

.simcal-default-calendar-grid.simcal-default-calendar-light .simcal-day-number {
    background: #fff;
}

td.simcal-day div {
    min-height: 0!important;
}

span.simcal-no-events, ul.simcal-events, span.simcal-events-dots {
    display: none!important;
}

.simcal-default-calendar-grid>table {
    max-width: 300px;
    margin: auto;
}

.simcal-default-calendar .simcal-current h3 {
    font-size: 1.5em;
}

tbody.simcal-month, thead.simcal-calendar-head tr:nth-child(2) {
    border: solid #0e3580 1px!important;
}


thead.simcal-calendar-head th{
    border-bottom: 0;
}

.simcal-default-calendar-grid>table tbody td div {
    border: 0!important;
}

td.simcal-day-has-events span.simcal-day-label.simcal-day-number {
    text-decoration: line-through;
}

p.simcal-align-right {
    display: none;
}
