
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'typography';
@import 'header';
@import 'footer';

@media (min-width: 768px) { }
@media (min-width: 992px) { }
@media (min-width: 1200px) { }

*{
  transition: ease-in-out 0.3s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1; transform:translateY(0);}
}

body {
    color: $font_color;
    font-family: $font_stack;
    font-size: 16px;
    font-weight: normal;
    line-height: 130%;
    margin-bottom: -15px;
}

img {
  width: 100%;
  height: auto;
}

section{
  padding: 50px 0;
}
iframe {background: #eee;}





@import 'sections';
@import 'home';
