
$section_background_height: 400px;
$page_diagonal: 27%;


section {
    position: relative;
    min-height: $section_background_height;
    padding-bottom: 50px;
    .section_background_image {
        width: 100%;
        height: $section_background_height;
        position: absolute;
        bottom: 0;
        left: 0;
        background: no-repeat bottom center;
        background-size: 100%;
        z-index: -1;
        opacity: 0.3;
        display: none;

        @media (min-width: 768px) {
            display: block;
        }

    }


    // big diagonal pictures that intersperce the content

    &.section_big_picture {
        background: no-repeat bottom center ;
        background-size: cover;
        min-height: 350px;
        margin: 0 15px 50px;


        @media (min-width: 768px) {
            min-height: 650px;
            margin: 0 0 50px;
            background-attachment: fixed;
            clip-path: polygon(0 $page_diagonal, 100% 0%, 100% #{100% - $page_diagonal}, 0% 100%);

            &.section_big_picture_flipped {
                clip-path: polygon(0 0, 100% $page_diagonal, 100% 100%, 0 #{100% - $page_diagonal});
            }

        }

    }

}



$shadow_distance: 15px;
$parralel_amount: 20%;

.section_row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px;

    &.section_row_flip {
        flex-direction: row-reverse;

    }



    .section_col {
        flex: 1 auto 0;
        padding: 0 0;
        width: 100%;
        min-width: 100%;
        margin: 0 0 30px;

        img {
            width: 100%;
            height: auto;
        }

        @media (min-width: 768px) {
            width: #{100% / 2};
            min-width: #{100% / 2};
            padding: 0 15px;


            .image_parallelogram {
                position: relative;
                img, .shadow_1, .shadow_2 {
                    clip-path: polygon(0 $parralel_amount, 100% 0, 100% 100%, 0 #{100% - $parralel_amount}  );
                    position: relative;
                    z-index: 2;
                }
                .shadow_1, .shadow_2 {
                    position: absolute;
                    top: #{$shadow_distance * -1};
                    left: $shadow_distance;
                    width: 100%;
                    height: 100%;
                    background: $brand_color;
                    opacity: 0.1;
                    z-index: 1;
                    &.shadow_2 {
                        top: #{$shadow_distance * -2};
                        left: #{$shadow_distance * 2};
                    }
                }
            }


        }

    }

    @media (min-width: 768px) {
        text-align: right;
        &.section_row_flip {
            text-align: left;

            .section_col {
                img, .shadow_1, .shadow_2 {
                    clip-path: polygon(0 0, 100% $parralel_amount, 100% #{100% - $parralel_amount} , 0 100%);
                }
                .shadow_1, .shadow_2 {
                    top: #{$shadow_distance * -1};
                    left: #{$shadow_distance * -1};

                    &.shadow_2 {
                        top: #{$shadow_distance * -2};
                        left: #{$shadow_distance * -2};
                    }
                }
            }
        }
    }


}
