
$section_background_height: 400px;
section {
    position: relative;
    min-height: $section_background_height;
    padding-bottom: 50px;
    .section_background_image {
        width: 100%;
        height: $section_background_height;
        position: absolute;
        bottom: 0;
        left: 0;
        background: no-repeat bottom center;
        background-size: 100%;
        z-index: -1;
        opacity: 0.3;

    }


    // big diagonal pictures that intersperce the content
    &.section_big_picture {
        background: no-repeat bottom center fixed;
        background-size: 100%;
        min-height: 600px;
        margin: 0 0 50px;

        clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);

        &.section_big_picture_flipped {
            clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);

        }

    }

}




.section_row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px;

    &.section_row_flip {
        flex-direction: row-reverse;

    }


    $parralel_amount: 15%;
    .section_col {
        flex: 1 auto 0;
        padding: 0 0;
        width: 100%;
        min-width: 100%;
        margin: 0 0 30px;

        img {
            width: 100%;
            height: auto;
        }

        @media (min-width: 768px) {
            width: #{100% / 2};
            min-width: #{100% / 2};
            padding: 0 15px;


            img {
                clip-path: polygon(0 $parralel_amount, 100% 0, 100% 100%, 0 #{100% - $parralel_amount}  );
            }


        }

    }
    
    @media (min-width: 768px) {
        text-align: right;
        &.section_row_flip {
            text-align: left;

            .section_col {
                img {
                    clip-path: polygon(0 0, 100% $parralel_amount, 100% #{100% - $parralel_amount} , 0 100%);
                }
            }
        }
    }


}
